.donation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .donation-form {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .donation-success {
    background-color: #dff0d8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .card-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .card-number,
  .card-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  label {
    margin-right: 10px;
  }
  
  input[type="number"],
  input[type="text"],
  select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 20px;
    background-color: #27e9ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #1ea6c4;
  }
  
  /* Add additional styles as needed */
  