body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: rgb(253, 253, 253);
  width: 1260px;
  height: 580px;
  background-size: 1260px 580px;
}


.header {
  text-align: center;
  background-color: #27e9ff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

nav ul li a:hover {
  text-decoration: underline;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}
